<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koh.a4723_app">

    <!-- 인터넷 연결 관련 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 현경이가 바꾼거임 바꾸지 말 것: android:allowBackup="false" -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWlNz7wa32ragZ-52n3B0W8FbT0nOIA0g" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Health.Health_Service"
            android:label="@string/title_activity_health__service" />
        <activity
            android:name=".calendar.Calendar"
            android:label="@string/title_activity_calendar"
            android:windowSoftInputMode="adjustPan" /> <!-- 키패드가 화면을 가리지 않도록 함 -->
        <activity
            android:name=".Pregnant_Week"
            android:label="@string/title_activity_pregnant__week" />
        <activity android:name=".Calendar.xml" />
        <activity
            android:name=".activity_Calendar"
            android:label="@string/title_activity__calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Find_Hospital"
            android:label="@string/title_activity_find__hospital" />
        <activity android:name=".My_Page" />
        <activity
            android:name=".TEST"
            android:label="TEST" />
        <activity
            android:name=".Weight_Graph"
            android:label="@string/title_activity_weight_graph"
            android:theme="@style/AppTheme" />
        <activity android:name=".Health.Health_Sokcho" />
        <activity android:name=".Health.Health_pyeongchang" />
        <activity android:name=".Wellness.WellnessClicked" />
        <activity android:name=".Health.Health_yangyang" />
        <activity android:name=".Health.Health_jeongseon" />
        <activity android:name=".Health.Health_samcheok" />
        <activity android:name=".Health.Health_youngweol" />
        <activity android:name=".Health.Health_goseong" />
        <activity android:name=".Health.Health_gangneug" />
        <activity android:name=".Health.Health_inje" />
        <activity android:name=".Health.Health_taebaek" />
        <activity android:name=".Health.Health_yanggu" />
        <activity android:name=".Health.Health_chuncheon" />
        <activity android:name=".Health.Health_hongcheon" />
        <activity android:name=".Health.Health_donghae" />
        <activity android:name=".Health.Health_chulwon" />
        <activity android:name=".Health.Health_hseong" />
        <activity android:name=".Health.Health_wonju" />
        <activity android:name=".CustomDialog_DueDate" />
        <activity android:name=".CustomDialog_LastDay" />
        <activity android:name=".CustomDialog_HealthCenter" />
        <activity android:name=".Health.Example" />
        <activity android:name=".yangyang.yangyang_1" />
        <activity android:name=".yangyang.yangyang_2" />
        <activity android:name=".yangyang.yangyang_3" />
        <activity android:name=".yangyang.yangyang_4" />
        <activity android:name=".yangyang.yangyang_5" />
        <activity android:name=".yangyang.yangyang_6" />
        <activity android:name=".yangyang.yangyang_7" />
        <activity android:name=".yangyang.yangyang_8" />
        <activity android:name=".yangyang.yangyang_9" />
        <activity android:name=".yangyang.yangyang_10" />
        <activity android:name=".yangyang.yangyang_0" />
        <activity android:name=".chulwon.chulwon_0" />
        <activity android:name=".chulwon.chulwon_1" />
        <activity android:name=".chulwon.chulwon_2" />
        <activity android:name=".chulwon.chulwon_3" />
        <activity android:name=".chulwon.chulwon_4" />
        <activity android:name=".chulwon.chulwon_5" />
        <activity android:name=".chuncheon.chuncheon_0" />
        <activity android:name=".chuncheon.chuncheon_1" />
        <activity android:name=".chuncheon.chuncheon_2" />
        <activity android:name=".chuncheon.chuncheon_3" />
        <activity android:name=".chuncheon.chuncheon_4" />
        <activity android:name=".chuncheon.chuncheon_5" />
        <activity android:name=".chuncheon.chuncheon_6" />
        <activity android:name=".chuncheon.chuncheon_7" />
        <activity android:name=".chuncheon.chuncheon_8" />
        <activity android:name=".donghae.donghae_0" />
        <activity android:name=".donghae.donghae_1" />
        <activity android:name=".donghae.donghae_2" />
        <activity android:name=".donghae.donghae_3" />
        <activity android:name=".donghae.donghae_4" />
        <activity android:name=".donghae.donghae_6" />
        <activity android:name=".donghae.donghae_5" />
        <activity android:name=".donghae.donghae_7" />
        <activity android:name=".donghae.donghae_8" />
        <activity android:name=".donghae.donghae_9" />
        <activity android:name=".gangneug.gangneug_0" />
        <activity android:name=".gangneug.gangneug_1" />
        <activity android:name=".gangneug.gangneug_2" />
        <activity android:name=".gangneug.gangneug_3" />
        <activity android:name=".gangneug.gangneug_4" />
        <activity android:name=".gangneug.gangneug_5" />
        <activity android:name=".gangneug.gangneug_6" />
        <activity android:name=".gangneug.gangneug_7" />
        <activity android:name=".gangneug.gangneug_8" />
        <activity android:name=".goseong.goseong_0" />
        <activity android:name=".goseong.goseong_1" />
        <activity android:name=".goseong.goseong_2" />
        <activity android:name=".goseong.goseong_3" />
        <activity android:name=".goseong.goseong_4" />
        <activity android:name=".goseong.goseong_5" />
        <activity android:name=".goseong.goseong_6" />
        <activity android:name=".goseong.goseong_7" />
        <activity android:name=".goseong.goseong_8" />
        <activity android:name=".goseong.goseong_9" />
        <activity android:name=".hseong.hseong_0" />
        <activity android:name=".hseong.hseong_1" />
        <activity android:name=".hseong.hseong_2" />
        <activity android:name=".hseong.hseong_3" />
        <activity android:name=".hseong.hseong_4" />
        <activity android:name=".hseong.hseong_5" />
        <activity android:name=".hseong.hseong_6" />
        <activity android:name=".hseong.hseong_7" />
        <activity android:name=".hseong.hseong_8" />
        <activity android:name=".inje.inje_0" />
        <activity android:name=".inje.inje_1" />
        <activity android:name=".inje.inje_2" />
        <activity android:name=".inje.inje_3" />
        <activity android:name=".inje.inje_4" />
        <activity android:name=".inje.inje_5" />
        <activity android:name=".inje.inje_6" />
        <activity android:name=".inje.inje_7" />
        <activity android:name=".inje.inje_8" />
        <activity android:name=".jeongseon.jeongseon_0" />
        <activity android:name=".jeongseon.jeongseon_1" />
        <activity android:name=".jeongseon.jeongseon_2" />
        <activity android:name=".jeongseon.jeongseon_3" />
        <activity android:name=".jeongseon.jeongseon_4" />
        <activity android:name=".jeongseon.jeongseon_5" />
        <activity android:name=".jeongseon.jeongseon_6" />
        <activity android:name=".jeongseon.jeongseon_7" />
        <activity android:name=".jeongseon.jeongseon_8" />
        <activity android:name=".jeongseon.jeongseon_9" />
        <activity android:name=".jeongseon.jeongseon_10" />
        <activity android:name=".pyeongchang.pyeongchang_0" />
        <activity android:name=".pyeongchang.pyeongchang_1" />
        <activity android:name=".pyeongchang.pyeongchang_2" />
        <activity android:name=".pyeongchang.pyeongchang_3" />
        <activity android:name=".pyeongchang.pyeongchang_4" />
        <activity android:name=".pyeongchang.pyeongchang_5" />
        <activity android:name=".pyeongchang.pyeongchang_6" />
        <activity android:name=".pyeongchang.pyeongchang_7" />
        <activity android:name=".samcheok.samcheok_0" />
        <activity android:name=".samcheok.samcheok_1" />
        <activity android:name=".samcheok.samcheok_2" />
        <activity android:name=".samcheok.samcheok_3" />
        <activity android:name=".samcheok.samcheok_4" />
        <activity android:name=".samcheok.samcheok_5" />
        <activity android:name=".taebaek.taebaek_0" />
        <activity android:name=".taebaek.taebaek_1" />
        <activity android:name=".taebaek.taebaek_2" />
        <activity android:name=".taebaek.taebaek_3" />
        <activity android:name=".taebaek.taebaek_4" />
        <activity android:name=".taebaek.taebaek_5" />
        <activity android:name=".taebaek.taebaek_6" />
        <activity android:name=".wonju.wonju_0" />
        <activity android:name=".wonju.wonju_1" />
        <activity android:name=".wonju.wonju_2" />
        <activity android:name=".wonju.wonju_3" />
        <activity android:name=".wonju.wonju_4" />
        <activity android:name=".youngweol.youngweol_0" />
        <activity android:name=".youngweol.youngweol_1" />
        <activity android:name=".youngweol.youngweol_2" />
        <activity android:name=".youngweol.youngweol_3" />
        <activity android:name=".youngweol.youngweol_4" />
        <activity android:name=".youngweol.youngweol_5" />
        <activity android:name=".youngweol.youngweol_6" />
        <activity android:name=".youngweol.youngweol_7" />
        <activity android:name=".youngweol.youngweol_8" />
        <activity android:name=".yanggu.yanggu_0" />
        <activity android:name=".yanggu.yanggu_1" />
        <activity android:name=".yanggu.yanggu_2" />
        <activity android:name=".yanggu.yanggu_3" />
        <activity android:name=".yanggu.yanggu_4" />
        <activity android:name=".yanggu.yanggu_5" />
        <activity android:name=".yanggu.yanggu_6" />
        <activity android:name=".Benefit" />
    </application>

</manifest>